<p><i>Kasvit kuihtuvat. Juomavesi on saastunut. Ruoho muuttuu ruskeaksi. Saaliseläimet pakenevat. Maahan ilmestyy halkeamia. Oudot taudit riehuvat. Myrskypilvet seilaavat taivaalla. Nälänhätä riepottelee heimoja. 
    Joskus melkein paratiisin kaltainen elinalue kasvokkaille on muuttumassa helvetiksi. Yhä harvemmat haluavat elää petollisella maalla. Monet ovat jo lähteneet ja vielä monet lähtevät etsimään parempaa elinaluetta. Jotkut kuitenkin uskovat pystyvänsä jatkamaan elämäänsä synnyinseudullaan ja selviävänsä kaikista luonnonmullistuksista, joita seuraisi mahdollisesti uusi kulta-aika. Mutta luonto ei ole armollinen, ja vain sitkeimmät tulevat selviämään.</i></p>
  
  <h1>Tervetuloa!</h1>
  
  <p>Olet juuri saapunut Saastunut -nimisen improsarjakuvan kotisivuille, joilla voit lukea sarjakuvaa sekä tutustua hahmoihin. Sarjakuvan päähenkilöt ovat kasvokkaita, ihmiskasvoisia eläimiä, jotka yrittävät parhaansa mukaan selvitä selittämättömän luonnonmullistuksen aikaan heille rakkaalla kotiseudulla. Sivusto on valmistunut 27.8.-13 ja ylläpitäjänä sekä yhtenä piirtäjistä toimii Vampuuri.</p>
  
  <p>Kaikki sivuilla esiintyvä materiaali © Vampuuri sekä muut piirtäjät, ellei toisin mainita.</p>
  
  <h2>Päivitykset</h2>

  <p>Will be added later if ever</p>
  