<h3>Piirtäjät</h3>

<table>
    <tr>
        <td><b>Nimi</b></td>
        <td><b>Status</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let artist of artists">
        <td>{{artist.username}}</td>
        <td>{{artist.status}}</td>
        <td><span *ngIf="artist.status !== 'Active'"><button (click)="changeArtistStatus(artist.id, 'Active')">Active</button></span></td>
        <td><span *ngIf="artist.status !== 'On hiatus'" (click)="changeArtistStatus(artist.id, 'On hiatus')"><button>On hiatus</button></span></td>
        <td><span *ngIf="artist.status !== 'Resigned'" (click)="changeArtistStatus(artist.id, 'Resigned')"><button>Resigned</button></span></td>
    </tr>
</table>

<h3>Sivut</h3>

<table>
    <tr>
        <td><b>Sivu</b></td>
        <td><b>Artisti</b></td>
        <td><b>Sisältö</b></td>
        <td><b>Päivämäärä</b></td>
        <td></td>
    </tr>
    <tr *ngFor="let page of pages">
        <td>{{page.id}}</td>
        <td>{{page.username}}
            <p *ngIf="page.id===updatePageId"><select [(ngModel)]="updatePageArtistId">
                <option *ngFor="let artist of artists" value={{artist.id}}>{{artist.username}}</option>
            </select></p>
        </td>
        <td><a href="{{page.content}}" target=">blank">{{page.content}}</a> <p *ngIf="page.id===updatePageId"><input [(ngModel)]="updatePageContent"></p></td>
        <td>{{page.date | date:'dd.MM.-yy'}} <p *ngIf="page.id===updatePageId"><input [(ngModel)]="updatePageDate" type="date"></p></td>
        <td>
            <p *ngIf="page.id!==updatePageId"><button (click)="editPage(page.id, page.username, page.content, page.date)">Muokkaa</button></p>
            <p *ngIf="page.id===updatePageId"><button (click)="updatePage()">Päivitä</button></p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <select [(ngModel)]="newPageArtistId">
                <option *ngFor="let artist of artists" value={{artist.id}}>{{artist.username}}</option>
            </select>
        </td>
        <td><input [(ngModel)]="newPageContent"></td>
        <td><input [(ngModel)]="newPageDate" type="date"></td>
        <td><button (click)="addNewPage()">Lisää sivu</button></td>
    </tr>
</table>

<h3>Kierrokset</h3>

<div>
<ng-container *ngFor="let roundArray of rounds, let i = index">
    <p>
        <b>Kierros {{i+1}}</b>
        <ng-container *ngFor="let round of roundArray">
            <br/><span [class.skipped]="round.skipped" [class.active]="round.active">{{round.username}}</span>
            <span *ngIf="round.active"> - Deadline {{round.date | date:'dd.MM.-yy'}}</span>
            <span *ngIf="!round.skipped && round.date && !round.active"> - {{round.date | date:'dd.MM.-yy'}}</span>
        </ng-container>
    </p>
</ng-container>
</div>
