<div class="page">
    <span *ngIf="!loading">
        <span *ngIf="!lastPage">
            <p><img class="page-image"  src={{page.content}} />
            <br/><span>{{page.username}}</span>, {{page.date | date:'dd.MM.-yy'}}</p>
        </span>

        <p *ngIf="lastPage"><img src="./assets/images/tobecontinued.png" /></p>

        <p>
            <a *ngIf="page.id > 1" [routerLink]="" (click)="previousPage()"><img src="./assets/images/backwardsArrow.png" /></a>
            <span *ngIf="!lastPage"><a [routerLink]="" (click)="nextPage()"><img src="./assets/images/nextArrow.png" /></a></span>
        </p>
    </span>
</div>
